.container {
	max-width: 1175px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;

	@include respond-max($bp-mobile-lg) {
		padding-left: 8px;
		padding-right: 8px;
	}
}
