.hero {
	position: relative;
	min-height: 100vh;
	background-image: url("../img/backgrounds/ciel_1.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
	overflow: hidden;

	@include respond-max($bp-desktop-xs) {
		background-size: $bp-desktop-xs;
	}

	.jumbo {
		margin-top: 9rem;
		margin-left: auto;
		margin-right: auto;

		@include respond-max($bp-tablet-lg) {
			margin-top: 4.624rem;
		}
	}

	[id^="background--"] {
		max-width: unset;
	}
	#background--decor {
		width: 100%;
		min-width: 456px;
		left: 0;
		top: 233px;
		z-index: 1;

		@include respond-max($bp-tablet) {
			width: 456px;
			height: 282px;
			left: 0px;
			top: 268px;
		}
	}

	#background--nuages02 {
		width: 100%;
		right: 0;
		top: 534px;
		z-index: 2;

		@include respond-max($bp-tablet-lg) {
			top: 463px;
		}

		@include respond-max($bp-tablet) {
			top: 404px;
		}

		@include respond-max($bp-mobile-lg) {
			top: 404px;
			width: 602px;
			height: 350px;
			left: -83px;
		}
	}

	#background--nacelle {
		width: 577px;
		top: 259px;
		right: -42px;
		z-index: 3;

		@include respond-max($bp-desktop) {
			width: 517px;
			top: 251px;
			right: -172px;
		}

		@include respond-max($bp-tablet-lg) {
			width: 395px;
			top: 241px;
			right: -97px;
		}

		@include respond-max($bp-tablet) {
			width: 245px;
			top: 255px;
			right: -57px;
		}
	}

	#background--nuages {
		width: 100%;
		right: 0;
		top: 350px;
		z-index: 4;

		@include respond-max($bp-tablet) {
			width: 466px;
			height: 345px;
			top: 375px;
		}
	}

	#background--oiseaux {
		top: 80px;
		left: 25%;

		@include respond-max($bp-desktop) {
			left: 12%;
		}

		@include respond-max($bp-tablet) {
			width: 220px;
			height: 100px;
			left: -45px;
			top: 176px;
		}
	}
}
