.access {
	position: relative;
	z-index: 5;
	background-color: $color-light;
	box-shadow: $shadow-block;
	padding: 1px 2.7rem;
	margin-top: 2.2rem;
	border-radius: 3rem;
	display: flex;
	justify-content: center;

	@include respond-max($bp-desktop-xs) {
		flex-direction: column;
		justify-content: unset;
		align-items: center;
		margin-top: 1.2rem;
		width: 100%;
		max-width: 465px;
		padding: 2rem 2.7rem;
	}

	&__list {
		display: flex;
		align-items: center;

		@include respond-max($bp-desktop-xs) {
			align-items: flex-start;
		}
	}
	&__title,
	&__link {
		@include font_regular;
		font-size: $font-size-normal;
		line-height: 3.5rem;
	}

	&__title {
		margin-right: 1.8rem;

		@include respond-max($bp-desktop-xs) {
			@include font-bold;
			margin-right: 0;
			margin-bottom: 1.2rem;
		}
	}
	&__link {
		color: $color-primary-dark;
		text-decoration: none;
		display: flex;
		align-items: center;

		@include respond-max($bp-desktop-xs) {
			flex-direction: column;
			justify-content: center;
			text-align: center;
			line-height: $font-size-normal;
			height: 100%;
			justify-content: space-between;
		}
	}

	&__item {
		@include respond-max($bp-desktop-xs) {
			width: 5rem;
			height: 7.075rem;
			justify-content: space-between;
		}
	}
	&__item:not(:first-child) {
		margin-left: 2.1rem;
		@include respond-max($bp-desktop-xs) {
			margin-left: unset;

			&:nth-child(2) {
				margin-left: 3rem;
				margin-right: 3rem;
			}
		}
	}

	&__icon {
		margin-right: 8px;

		@include respond-max($bp-desktop-xs) {
			margin-right: unset;
		}
	}
}
