.booking {
	&__module {
		position: relative;
		z-index: 5;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 1031px;
		width: 100%;
		margin-top: 20.94rem;
		padding: 2.3rem 3rem;
		background-color: $color-light;
		box-shadow: $shadow-block;
		border-radius: 3rem;

		@include respond-max($bp-desktop-xs) {
			flex-direction: column;
			max-width: $bp-mobile-lg;
		}
	}

	&__module > *:not(:first-child) {
		margin-left: 1.2rem;

		@include respond-max($bp-desktop-xs) {
			margin-left: unset;
		}
	}

	&__module > *:not(:last-child) {
		@include respond-max($bp-desktop-xs) {
			margin-bottom: 2.5rem;
		}
	}

	&__module > :nth-child(2) {
		margin-top: -3.4rem;
		@include respond-max($bp-desktop-xs) {
			margin-top: unset;
			width: 100%;
			max-width: 29rem;
		}
	}

	&__switch {
		position: relative;
		display: inline-block;
		width: 22.8rem;
		height: 4.5rem;

		@include respond-max($bp-desktop-xs) {
			width: 29rem;
		}

		& input {
			opacity: 0;
			width: 0;
			height: 0;
		}

		&-slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $color-grey-light;
			border-radius: 4.5rem;
			transition: 0.2s;

			&::before {
				position: absolute;
				content: "Billet + hôtel";
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				@include font_bold;
				font-size: 1.4rem;
				text-transform: uppercase;
				color: $color-primary-dark;
				height: 4.5rem;
				width: 14.1rem;
				left: 0;
				bottom: 0;
				border-radius: 4.5rem;
				background-color: $color-light;
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
				transition: 0.4s;
				z-index: 1;

				@include respond-max($bp-desktop-xs) {
					width: 50%;
				}
			}
			&::after {
				position: absolute;
				content: "Billet";
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				@include font_bold;
				font-size: 1.4rem;
				text-transform: uppercase;
				color: $color-grey-dark;
				height: 4.5rem;
				width: 8.7rem;
				left: unset;
				right: 0;
				bottom: 0;
				border-radius: 4.5rem;
				z-index: 0;

				@include respond-max($bp-desktop-xs) {
					width: 50%;
				}
			}
		}

		input:checked + &-slider::before {
			transform: translate(12.8rem);
			width: 10rem;
			content: "Billet";

			@include respond-max($bp-desktop-xs) {
				transform: translateX(100%);
				width: 50%;
			}
		}
		input:checked + &-slider::after {
			content: "Billet + hôtel";
			width: 14.1rem;
			left: 0;
			right: unset;

			@include respond-max($bp-desktop-xs) {
				width: 50%;
			}
		}
	}

	&__module .btn-primary[type="submit"] {
		line-height: 0;
		height: 4.8rem;
		padding: 1.5rem 4rem;
		@include respond-max($bp-desktop-xs) {
			width: 100%;
			max-width: 29rem;
		}
	}

	&__people-section {
		display: flex;
		& > *:not(:first-child) {
			margin-left: 1.2rem;
		}

		@include respond-max($bp-desktop-xs) {
			flex-direction: row-reverse;

			& > *:not(:first-child) {
				margin-left: unset;
				margin-right: 1.2rem;
			}
		}
	}

	&__module .form__inline-section .form__controller {
		height: 4.5rem;
		@include respond-max(1051px) {
			width: 9.7rem;
			line-height: 0;
		}
	}

	@include respond-max($bp-desktop-xs) {
		&__module .form__inline-section .form__controller {
			width: 50%;
		}

		&__module &__input-section {
			order: 2;
		}

		&__module &__people-section {
			order: 1;
			margin-bottom: 0;
		}

		&__module .btn-primary[type="submit"] {
			order: 3;
		}
	}
}
