.btn {
	border: none;
	@include font_regular;
	white-space: nowrap;
	background-color: transparent;
	text-decoration: none;
	padding: 0;
	cursor: pointer;
}

%btn {
	@include font_bold;
	font-size: 1.4rem;
	border: none;
	white-space: nowrap;
	text-decoration: none;
	padding: 1.5rem 2.4rem;
	line-height: 34.68px;
	border-radius: $space-small;
	cursor: pointer;
}

[class^="btn-"] {
	@extend %btn;
	display: block;
}

.btn-default {
	@extend %btn;
	background-image: $color-light-gradient;
	color: $color-dark;
}

.btn-primary {
	@extend %btn;
	background-image: $color-primary-gradient;
	color: $color-light;
}

.btn-secondary {
	@extend %btn;
	background-color: $color-secondary-light;
}
