.form {
	&__label {
		@include font_regular;
		color: $color-dark;
		font-size: 1.4rem;
		line-height: 3.5rem;
	}
	&__inline-section {
		position: relative;
		display: flex;
		border: 2px solid #bebebe;
		box-sizing: border-box;
		border-radius: 4px;
		overflow: hidden;
		input {
			position: relative;
			margin: 0;
			border: none;
		}
		input:not(:first-child),
		button:not(:first-child),
		.form__controller--square:not(:first-child) {
			border-left: 2px solid #dedede;
		}

		.form__controller {
			width: 13.7rem;
		}
	}
	&__inline-section .icon__container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 3rem;
		height: 3rem;
		border-radius: 3rem;
		background-color: $color-primary-dark;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__inline-section .icon {
		width: 1.6rem;
		height: 1.5rem;
	}

	&__controller {
		@include font_regular;
		font-size: 1.4rem;
		color: $color-primary-dark;
		line-height: 3.5rem;
		padding: 5px 15px;

		&::-webkit-input-placeholder {
			@include font_regular;
			font-size: 1.4rem;
			color: $color-primary-dark;
			line-height: 3.5rem;
		}

		&:focus {
			outline: $color-primary-dark;
		}
	}

	&__controller--square {
		@include font-bold;
		color: $color-dark;
		text-align: center;
		font-size: 1.6rem;
		color: $color-dark;
		line-height: 3.5rem;
		width: 4.5rem;
		height: 4.5rem;
		display: flex;
		justify-content: center;
		align-items: center;

		&::-webkit-input-placeholder {
			@include font-bold;
			text-align: center;
			color: $color-dark;
			text-align: center;
			font-size: 1.6rem;
		}
	}

	&__button--square {
		text-align: center;
		@include font-regular;
		font-size: 2.5rem;
		line-height: 3.5rem;
		color: $color-primary-dark;
		width: 4.5rem;
		height: 4.5rem;
		background: $color-light;
		border: none;
		cursor: pointer;
		&:active,
		&:focus {
			outline: none;
		}
	}

	&__small {
		@include font_regular;
		font-size: 1.2rem;
		line-height: 3.5rem;
		color: $color-primary-dark;
		text-decoration: none;
		&:visited {
			color: $color-primary-dark;
		}
	}
}
