.header {
	width: 100%;
	z-index: 10;
	&__navigation {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo-container {
		margin-top: -40px;

		@include respond-max($bp-desktop) {
			margin-top: -26px;
		}

		@include respond-max($bp-tablet-lg) {
			margin-top: 0;
		}
	}
	&__logo {
		@include respond-max($bp-tablet-lg) {
			width: 11.5rem;
		}
	}
	&__nav-list {
		display: inline-block;
		white-space: nowrap;
	}
	&__nav-item {
		display: inline-block;
	}
	&__nav-item > &__nav-link {
		margin-right: 3.8rem;
		font-size: 1.4rem;
		@include respond-max($bp-desktop) {
			margin-right: 2rem;
		}
	}
	&__nav-item > .btn-default {
		margin-right: 2rem;
		@include respond-max($bp-desktop) {
			margin-right: 1.6rem;
		}
	}
	&__nav-link {
		@include font_bold;
		color: $color-light;
		text-decoration: none;
	}

	&__desktop {
		@include respond-max($bp-tablet-lg) {
			display: none;
		}
	}

	&__mobile {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include respond-min($bp-tablet-lg) {
			display: none;
		}
	}

	&__mobile-left,
	&__mobile-right {
		display: flex;
		align-items: center;
	}

	&__mobile-icon.burger > .icon {
		height: 20px;
		margin-right: 14px;
	}

	&__mobile-icon.search > .icon {
		width: 21px;
		height: 21px;
		margin-right: 2rem;
	}

	&__mobile-icon.ticket > .icon {
		width: 32.67px;
		height: 24.49px;
		margin-right: 2rem;
	}

	&__mobile-icon.user > .icon {
		height: 24px;
	}

	&__sticky {
		background-color: $color-light;
		position: absolute;
		top: -15rem;
		transition: 0.4s;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
		@include respond-max($bp-tablet-lg) {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}

		.header__nav-link {
			color: $color-dark;
		}

		.btn-primary {
			height: 4.5rem;
			display: flex;
			align-items: center;
		}

		.header__logo-container {
			margin-top: 0;
		}

		.header__logo {
			width: 12rem;
		}
	}
}
