.jumbo {
	&__text {
		@include font_bold;
		text-transform: uppercase;
		color: $color-light;
	}

	&__text--small {
		font-size: 2rem;
		line-height: 2rem;

		@include respond-max($bp-tablet-lg) {
			font-size: 2.2rem;
			line-height: 2.2rem;
		}

		@include respond-max($bp-tablet) {
			font-size: 1.2rem;
			line-height: 1.2rem;
		}
	}

	&__text--large {
		font-size: 11.88rem;
		line-height: 11.88rem;
		@include respond-max($bp-tablet-lg) {
			font-size: 8rem;
			line-height: 8rem;
		}

		@include respond-max($bp-tablet) {
			font-size: 4rem;
			line-height: 4rem;
		}
	}

	.icon {
		margin-top: 2.4rem;
		@include respond-max($bp-tablet-lg) {
			margin-top: 0.75rem;
		}
	}
}
