.top-header {
	background-color: $color-secondary;
	color: $color-light;
	width: 100%;
	z-index: 10;

	&__container {
		position: relative;
		height: 45px;
		padding-top: 6px;
		padding-bottom: 6px;

		@include respond-max($bp-tablet-lg) {
			display: flex;
			justify-content: space-between;
		}
	}

	&__week-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;

		@include respond-max($bp-tablet-lg) {
			position: relative;
			top: unset;
			left: unset;
			transform: unset;
			width: 100%;
			display: flex;
			justify-content: center;
		}

		@include respond-max($bp-mobile-lg) {
			justify-content: space-between;
		}
	}

	&__week-container .btn {
		@include font_medium;
		color: $color-light;
		text-transform: uppercase;
		padding: 1px $space-medium;
		border-radius: 1rem;
	}

	&__week-container .btn > .icon {
		width: 11px;
		margin-left: 11px;
	}

	&__info-content {
		display: flex;
		align-items: center;
		margin-left: $space-medium;
	}

	&__status {
		display: inline-block;
		width: $space-small;
		height: $space-small;
		min-width: $space-small;
		min-height: $space-small;
		border: 1px solid $color-light;
		border-radius: $space-small;
		&[data-status="open"] {
			background-color: $color-primary-light;
		}
		&[data-status="close"] {
			background-color: orangered;
		}
	}

	&__text {
		@include font_medium;
		font-size: $font-size-small;
		line-height: 34.68px;
		margin-left: 0.8rem;
		white-space: nowrap;
	}

	&__text-detail {
		@include respond-max($bp-mobile-lg) {
			display: none;
		}
	}

	&__weather {
		display: inline-block;
		margin-left: $space-medium;
		width: $space-large;
		height: $space-medium;
		@include respond-max($bp-tablet) {
			margin-left: 2.6rem;
		}

		@include respond-max($bp-mobile-sm) {
			display: none;
		}
	}

	&__weather .icon {
		width: $space-large;
		height: $space-medium;
	}

	&__user-container {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		display: flex;
		align-items: center;

		@include respond-max($bp-tablet-lg) {
			position: relative;
			top: unset;
			right: unset;
			transform: unset;
		}

		@include respond-max($bp-tablet) {
			display: none;
		}
	}

	&__user-item {
		position: relative;
		background: transparent;
		border: none;
		width: 5.9rem;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&:active,
		&:focus {
			outline: none;
		}

		&:not(:first-child) {
			border-left: 1px solid rgba($color-light, 0.3);
		}
	}

	&__user-item.search .icon {
		width: 19px;
	}

	&__user-item .lang-text {
		@include font_medium;
		font-size: $font-size-normal;
	}

	&__user-item.lang .icon {
		margin-left: 4px;
		width: 10px;
		height: 7px;
	}

	&__user-item.user .icon {
		width: 23.33px;
	}
}
