// text alignement
.u-text {
	&--left {
		text-align: left;
	}

	&--center {
		text-align: center;
	}

	&--right {
		text-align: right;
	}
}

// block alignement
.u-block-flex {
	display: flex;

	&--column {
		@extend .u-block-flex;
		flex-direction: column;
	}
}
.u-flex-align {
	&--center {
		align-items: center;
	}
	&--start {
		align-items: flex-start;
	}
	&--end {
		align-items: flex-end;
	}
}

.u-flex-justify {
	&--center {
		justify-content: center;
	}
	&--start {
		justify-content: flex-start;
	}
	&--end {
		justify-content: flex-end;
	}
}

// component visibility
.u-hide {
	display: none;

	&-below-tablet-lg {
		@include respond-max($bp-tablet-lg) {
			display: none;
		}
	}
	&-above-tablet-lg {
		@include respond-min($bp-tablet-lg) {
			display: block;
		}
	}
}
