// ------------------------
// typography
// ------------------------
@mixin font_bold($font: $font-bold) {
	font-family: $font, sans-serif;
	font-weight: 700;
	font-style: normal;
}

@mixin font_bold_oblic($font: $font-bold) {
	font-family: futura-pt-bold, sans-serif;
	font-weight: 700;
	font-style: italic;
}

@mixin font_medium($font: $font-main) {
	font-family: $font;
	font-weight: 500;
	font-style: normal;
}

@mixin font_regular($font: $font-main) {
	font-family: $font;
	font-weight: 400;
	font-style: normal;
}

@mixin font-regular_oblic($font: $font-main) {
	font-family: $font;
	font-weight: 400;
	font-style: italic;
}

// ------------------------
// responsive
// ------------------------
@mixin respond-min($size) {
	@media only screen and (min-width: $size) {
		@content;
	}
}

@mixin respond-max($size) {
	@media only screen and (max-width: $size) {
		@content;
	}
}
