// colors
$color-primary: #07ba56;
$color-primary-light: #26d172;
$color-primary-dark: #03a800;
$color-primary-gradient: linear-gradient(180deg, #2cd677 0%, #02b651 100%);
$color-secondary: #17519d;
$color-secondary-light: #2069c0;
$color-light: #ffffff;
$color-light-gradient: linear-gradient(180deg, #e2e2e2 0%, #ffffff 100%);
$color-dark: #000000;
$color-grey-light: #f0f0f0;
$color-grey-dark: #7d7d7d;

// shadows
$shadow-block: 0px 4px 4px rgba(0, 0, 0, 0.25);

// fonts
$font-main: futura-pt, Helvetica, Arial, sans-serif;
$font-bold: futura-pt-bold, Helvetica, Arial, sans-serif;

$font-size-normal: 1.4rem;
$font-size-small: 1.2rem;

// $spaces
$space-large: 2.9rem;
$space-medium: 2rem;
$space-small: 1.2rem;

// breakpoints
$bp-desktop-xl: 1440px;
$bp-desktop: 1080px;
$bp-desktop-sm: 992px;
$bp-desktop-xs: 980px;
$bp-tablet-lg: 876px;
$bp-tablet: 635px;
$bp-mobile-lg: 465px;
$bp-mobile-m: 375px;
$bp-mobile-sm: 360px;
