@charset "UTF-8";
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

td:not([align]),
th:not([align]) {
  text-align: left; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.btn {
  border: none;
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  white-space: nowrap;
  background-color: transparent;
  text-decoration: none;
  padding: 0;
  cursor: pointer; }

[class^="btn-"], .btn-default, .btn-primary, .btn-secondary {
  font-family: futura-pt-bold, Helvetica, Arial, sans-serif, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.4rem;
  border: none;
  white-space: nowrap;
  text-decoration: none;
  padding: 1.5rem 2.4rem;
  line-height: 34.68px;
  border-radius: 1.2rem;
  cursor: pointer; }

[class^="btn-"] {
  display: block; }

.btn-default {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#ffffff));
  background-image: -o-linear-gradient(top, #e2e2e2 0%, #ffffff 100%);
  background-image: linear-gradient(180deg, #e2e2e2 0%, #ffffff 100%);
  color: #000000; }

.btn-primary {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2cd677), to(#02b651));
  background-image: -o-linear-gradient(top, #2cd677 0%, #02b651 100%);
  background-image: linear-gradient(180deg, #2cd677 0%, #02b651 100%);
  color: #ffffff; }

.btn-secondary {
  background-color: #2069c0; }

.top-header {
  background-color: #17519d;
  color: #ffffff;
  width: 100%;
  z-index: 10; }
  .top-header__container {
    position: relative;
    height: 45px;
    padding-top: 6px;
    padding-bottom: 6px; }
    @media only screen and (max-width: 876px) {
      .top-header__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
  .top-header__week-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 876px) {
      .top-header__week-container {
        position: relative;
        top: unset;
        left: unset;
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    @media only screen and (max-width: 465px) {
      .top-header__week-container {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
  .top-header__week-container .btn {
    font-family: futura-pt, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    text-transform: uppercase;
    padding: 1px 2rem;
    border-radius: 1rem; }
  .top-header__week-container .btn > .icon {
    width: 11px;
    margin-left: 11px; }
  .top-header__info-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 2rem; }
  .top-header__status {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    min-width: 1.2rem;
    min-height: 1.2rem;
    border: 1px solid #ffffff;
    border-radius: 1.2rem; }
    .top-header__status[data-status="open"] {
      background-color: #26d172; }
    .top-header__status[data-status="close"] {
      background-color: orangered; }
  .top-header__text {
    font-family: futura-pt, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 34.68px;
    margin-left: 0.8rem;
    white-space: nowrap; }
  @media only screen and (max-width: 465px) {
    .top-header__text-detail {
      display: none; } }
  .top-header__weather {
    display: inline-block;
    margin-left: 2rem;
    width: 2.9rem;
    height: 2rem; }
    @media only screen and (max-width: 635px) {
      .top-header__weather {
        margin-left: 2.6rem; } }
    @media only screen and (max-width: 360px) {
      .top-header__weather {
        display: none; } }
  .top-header__weather .icon {
    width: 2.9rem;
    height: 2rem; }
  .top-header__user-container {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media only screen and (max-width: 876px) {
      .top-header__user-container {
        position: relative;
        top: unset;
        right: unset;
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset; } }
    @media only screen and (max-width: 635px) {
      .top-header__user-container {
        display: none; } }
  .top-header__user-item {
    position: relative;
    background: transparent;
    border: none;
    width: 5.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }
    .top-header__user-item:active, .top-header__user-item:focus {
      outline: none; }
    .top-header__user-item:not(:first-child) {
      border-left: 1px solid rgba(255, 255, 255, 0.3); }
  .top-header__user-item.search .icon {
    width: 19px; }
  .top-header__user-item .lang-text {
    font-family: futura-pt, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem; }
  .top-header__user-item.lang .icon {
    margin-left: 4px;
    width: 10px;
    height: 7px; }
  .top-header__user-item.user .icon {
    width: 23.33px; }

.header {
  width: 100%;
  z-index: 10; }
  .header__navigation {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header__logo-container {
    margin-top: -40px; }
    @media only screen and (max-width: 1080px) {
      .header__logo-container {
        margin-top: -26px; } }
    @media only screen and (max-width: 876px) {
      .header__logo-container {
        margin-top: 0; } }
  @media only screen and (max-width: 876px) {
    .header__logo {
      width: 11.5rem; } }
  .header__nav-list {
    display: inline-block;
    white-space: nowrap; }
  .header__nav-item {
    display: inline-block; }
  .header__nav-item > .header__nav-link {
    margin-right: 3.8rem;
    font-size: 1.4rem; }
    @media only screen and (max-width: 1080px) {
      .header__nav-item > .header__nav-link {
        margin-right: 2rem; } }
  .header__nav-item > .btn-default {
    margin-right: 2rem; }
    @media only screen and (max-width: 1080px) {
      .header__nav-item > .btn-default {
        margin-right: 1.6rem; } }
  .header__nav-link {
    font-family: futura-pt-bold, Helvetica, Arial, sans-serif, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    text-decoration: none; }
  @media only screen and (max-width: 876px) {
    .header__desktop {
      display: none; } }
  .header__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media only screen and (min-width: 876px) {
      .header__mobile {
        display: none; } }
  .header__mobile-left, .header__mobile-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__mobile-icon.burger > .icon {
    height: 20px;
    margin-right: 14px; }
  .header__mobile-icon.search > .icon {
    width: 21px;
    height: 21px;
    margin-right: 2rem; }
  .header__mobile-icon.ticket > .icon {
    width: 32.67px;
    height: 24.49px;
    margin-right: 2rem; }
  .header__mobile-icon.user > .icon {
    height: 24px; }
  .header__sticky {
    background-color: #ffffff;
    position: absolute;
    top: -15rem;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); }
    @media only screen and (max-width: 876px) {
      .header__sticky {
        padding-top: 1rem;
        padding-bottom: 1rem; } }
    .header__sticky .header__nav-link {
      color: #000000; }
    .header__sticky .btn-primary {
      height: 4.5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .header__sticky .header__logo-container {
      margin-top: 0; }
    .header__sticky .header__logo {
      width: 12rem; }

.jumbo__text {
  font-family: futura-pt-bold, Helvetica, Arial, sans-serif, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff; }

.jumbo__text--small {
  font-size: 2rem;
  line-height: 2rem; }
  @media only screen and (max-width: 876px) {
    .jumbo__text--small {
      font-size: 2.2rem;
      line-height: 2.2rem; } }
  @media only screen and (max-width: 635px) {
    .jumbo__text--small {
      font-size: 1.2rem;
      line-height: 1.2rem; } }

.jumbo__text--large {
  font-size: 11.88rem;
  line-height: 11.88rem; }
  @media only screen and (max-width: 876px) {
    .jumbo__text--large {
      font-size: 8rem;
      line-height: 8rem; } }
  @media only screen and (max-width: 635px) {
    .jumbo__text--large {
      font-size: 4rem;
      line-height: 4rem; } }

.jumbo .icon {
  margin-top: 2.4rem; }
  @media only screen and (max-width: 876px) {
    .jumbo .icon {
      margin-top: 0.75rem; } }

.background-asset {
  position: absolute; }

.booking__module {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 1031px;
  width: 100%;
  margin-top: 20.94rem;
  padding: 2.3rem 3rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3rem; }
  @media only screen and (max-width: 980px) {
    .booking__module {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      max-width: 465px; } }

.booking__module > *:not(:first-child) {
  margin-left: 1.2rem; }
  @media only screen and (max-width: 980px) {
    .booking__module > *:not(:first-child) {
      margin-left: unset; } }

@media only screen and (max-width: 980px) {
  .booking__module > *:not(:last-child) {
    margin-bottom: 2.5rem; } }

.booking__module > :nth-child(2) {
  margin-top: -3.4rem; }
  @media only screen and (max-width: 980px) {
    .booking__module > :nth-child(2) {
      margin-top: unset;
      width: 100%;
      max-width: 29rem; } }

.booking__switch {
  position: relative;
  display: inline-block;
  width: 22.8rem;
  height: 4.5rem; }
  @media only screen and (max-width: 980px) {
    .booking__switch {
      width: 29rem; } }
  .booking__switch input {
    opacity: 0;
    width: 0;
    height: 0; }
  .booking__switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f0f0f0;
    border-radius: 4.5rem;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .booking__switch-slider::before {
      position: absolute;
      content: "Billet + hôtel";
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      font-family: futura-pt-bold, Helvetica, Arial, sans-serif, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 1.4rem;
      text-transform: uppercase;
      color: #03a800;
      height: 4.5rem;
      width: 14.1rem;
      left: 0;
      bottom: 0;
      border-radius: 4.5rem;
      background-color: #ffffff;
      -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      z-index: 1; }
      @media only screen and (max-width: 980px) {
        .booking__switch-slider::before {
          width: 50%; } }
    .booking__switch-slider::after {
      position: absolute;
      content: "Billet";
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      font-family: futura-pt-bold, Helvetica, Arial, sans-serif, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 1.4rem;
      text-transform: uppercase;
      color: #7d7d7d;
      height: 4.5rem;
      width: 8.7rem;
      left: unset;
      right: 0;
      bottom: 0;
      border-radius: 4.5rem;
      z-index: 0; }
      @media only screen and (max-width: 980px) {
        .booking__switch-slider::after {
          width: 50%; } }
  input:checked + .booking__switch-slider::before {
    -webkit-transform: translate(12.8rem);
    -ms-transform: translate(12.8rem);
    transform: translate(12.8rem);
    width: 10rem;
    content: "Billet"; }
    @media only screen and (max-width: 980px) {
      input:checked + .booking__switch-slider::before {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        width: 50%; } }
  input:checked + .booking__switch-slider::after {
    content: "Billet + hôtel";
    width: 14.1rem;
    left: 0;
    right: unset; }
    @media only screen and (max-width: 980px) {
      input:checked + .booking__switch-slider::after {
        width: 50%; } }

.booking__module .btn-primary[type="submit"] {
  line-height: 0;
  height: 4.8rem;
  padding: 1.5rem 4rem; }
  @media only screen and (max-width: 980px) {
    .booking__module .btn-primary[type="submit"] {
      width: 100%;
      max-width: 29rem; } }

.booking__people-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .booking__people-section > *:not(:first-child) {
    margin-left: 1.2rem; }
  @media only screen and (max-width: 980px) {
    .booking__people-section {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
      .booking__people-section > *:not(:first-child) {
        margin-left: unset;
        margin-right: 1.2rem; } }

.booking__module .form__inline-section .form__controller {
  height: 4.5rem; }
  @media only screen and (max-width: 1051px) {
    .booking__module .form__inline-section .form__controller {
      width: 9.7rem;
      line-height: 0; } }

@media only screen and (max-width: 980px) {
  .booking__module .form__inline-section .form__controller {
    width: 50%; }
  .booking__module .booking__input-section {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .booking__module .booking__people-section {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 0; }
  .booking__module .btn-primary[type="submit"] {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; } }

.form__label {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 1.4rem;
  line-height: 3.5rem; }

.form__inline-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #bebebe;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden; }
  .form__inline-section input {
    position: relative;
    margin: 0;
    border: none; }
  .form__inline-section input:not(:first-child),
  .form__inline-section button:not(:first-child),
  .form__inline-section .form__controller--square:not(:first-child) {
    border-left: 2px solid #dedede; }
  .form__inline-section .form__controller {
    width: 13.7rem; }

.form__inline-section .icon__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: #03a800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.form__inline-section .icon {
  width: 1.6rem;
  height: 1.5rem; }

.form__controller {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  color: #03a800;
  line-height: 3.5rem;
  padding: 5px 15px; }
  .form__controller::-webkit-input-placeholder {
    font-family: futura-pt, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    color: #03a800;
    line-height: 3.5rem; }
  .form__controller:focus {
    outline: #03a800; }

.form__controller--square {
  font-family: futura-pt-bold, Helvetica, Arial, sans-serif, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  text-align: center;
  font-size: 1.6rem;
  color: #000000;
  line-height: 3.5rem;
  width: 4.5rem;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .form__controller--square::-webkit-input-placeholder {
    font-family: futura-pt-bold, Helvetica, Arial, sans-serif, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #000000;
    text-align: center;
    font-size: 1.6rem; }

.form__button--square {
  text-align: center;
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: #03a800;
  width: 4.5rem;
  height: 4.5rem;
  background: #ffffff;
  border: none;
  cursor: pointer; }
  .form__button--square:active, .form__button--square:focus {
    outline: none; }

.form__small {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 3.5rem;
  color: #03a800;
  text-decoration: none; }
  .form__small:visited {
    color: #03a800; }

.access {
  position: relative;
  z-index: 5;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1px 2.7rem;
  margin-top: 2.2rem;
  border-radius: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media only screen and (max-width: 980px) {
    .access {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: unset;
      -ms-flex-pack: unset;
      justify-content: unset;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 1.2rem;
      width: 100%;
      max-width: 465px;
      padding: 2rem 2.7rem; } }
  .access__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media only screen and (max-width: 980px) {
      .access__list {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }
  .access__title, .access__link {
    font-family: futura-pt, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 3.5rem; }
  .access__title {
    margin-right: 1.8rem; }
    @media only screen and (max-width: 980px) {
      .access__title {
        font-family: futura-pt-bold, Helvetica, Arial, sans-serif, sans-serif;
        font-weight: 700;
        font-style: normal;
        margin-right: 0;
        margin-bottom: 1.2rem; } }
  .access__link {
    color: #03a800;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media only screen and (max-width: 980px) {
      .access__link {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        line-height: 1.4rem;
        height: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
  @media only screen and (max-width: 980px) {
    .access__item {
      width: 5rem;
      height: 7.075rem;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  .access__item:not(:first-child) {
    margin-left: 2.1rem; }
    @media only screen and (max-width: 980px) {
      .access__item:not(:first-child) {
        margin-left: unset; }
        .access__item:not(:first-child):nth-child(2) {
          margin-left: 3rem;
          margin-right: 3rem; } }
  .access__icon {
    margin-right: 8px; }
    @media only screen and (max-width: 980px) {
      .access__icon {
        margin-right: unset; } }

.container {
  max-width: 1175px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }
  @media only screen and (max-width: 465px) {
    .container {
      padding-left: 8px;
      padding-right: 8px; } }

.hero {
  position: relative;
  min-height: 100vh;
  background-image: url("../img/backgrounds/ciel_1.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  overflow: hidden; }
  @media only screen and (max-width: 980px) {
    .hero {
      background-size: 980px; } }
  .hero .jumbo {
    margin-top: 9rem;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (max-width: 876px) {
      .hero .jumbo {
        margin-top: 4.624rem; } }
  .hero [id^="background--"] {
    max-width: unset; }
  .hero #background--decor {
    width: 100%;
    min-width: 456px;
    left: 0;
    top: 233px;
    z-index: 1; }
    @media only screen and (max-width: 635px) {
      .hero #background--decor {
        width: 456px;
        height: 282px;
        left: 0px;
        top: 268px; } }
  .hero #background--nuages02 {
    width: 100%;
    right: 0;
    top: 534px;
    z-index: 2; }
    @media only screen and (max-width: 876px) {
      .hero #background--nuages02 {
        top: 463px; } }
    @media only screen and (max-width: 635px) {
      .hero #background--nuages02 {
        top: 404px; } }
    @media only screen and (max-width: 465px) {
      .hero #background--nuages02 {
        top: 404px;
        width: 602px;
        height: 350px;
        left: -83px; } }
  .hero #background--nacelle {
    width: 577px;
    top: 259px;
    right: -42px;
    z-index: 3; }
    @media only screen and (max-width: 1080px) {
      .hero #background--nacelle {
        width: 517px;
        top: 251px;
        right: -172px; } }
    @media only screen and (max-width: 876px) {
      .hero #background--nacelle {
        width: 395px;
        top: 241px;
        right: -97px; } }
    @media only screen and (max-width: 635px) {
      .hero #background--nacelle {
        width: 245px;
        top: 255px;
        right: -57px; } }
  .hero #background--nuages {
    width: 100%;
    right: 0;
    top: 350px;
    z-index: 4; }
    @media only screen and (max-width: 635px) {
      .hero #background--nuages {
        width: 466px;
        height: 345px;
        top: 375px; } }
  .hero #background--oiseaux {
    top: 80px;
    left: 25%; }
    @media only screen and (max-width: 1080px) {
      .hero #background--oiseaux {
        left: 12%; } }
    @media only screen and (max-width: 635px) {
      .hero #background--oiseaux {
        width: 220px;
        height: 100px;
        left: -45px;
        top: 176px; } }

.u-text--left {
  text-align: left; }

.u-text--center {
  text-align: center; }

.u-text--right {
  text-align: right; }

.u-block-flex, .u-block-flex--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .u-block-flex--column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.u-flex-align--center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.u-flex-align--start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.u-flex-align--end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.u-flex-justify--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.u-flex-justify--start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.u-flex-justify--end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.u-hide {
  display: none; }
  @media only screen and (max-width: 876px) {
    .u-hide-below-tablet-lg {
      display: none; } }
  @media only screen and (min-width: 876px) {
    .u-hide-above-tablet-lg {
      display: block; } }

/*# sourceMappingURL=main.css.map */
