html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	@include font_regular;
	color: $color-dark;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}
